<span class="question-header">
  <a class="question-tag" href="#tags/<%=question.escape('tag_id')%>">
  <%=question.escape('tag_title')%></a>
  <%=question.escape('state')%>
</span><br>
<a href="#questions/<%=question.id%>" class="question-title">
<%=question.escape('title')%></a>


<button type="button" class="btn btn-default answer-question" aria-label="Left Align">Answer Question</button>

<p class="question-footer"></p>
