<span class="question-header">
  <%=question.escape('state')%> •
  <%=question.escape('date')%>
  <% if (question.escape('tag_title')) { %>
     • <a data-container="body" title="<%=question.escape('tag_title')%>" data-trigger="hover"
       data-toggle="popover" data-placement="bottom" data-content="<%=question.escape('tag_description')%>" class="question-index-item-tag" href="#tags/<%=question.escape('tag_id')%>"><%=question.escape('tag_title')%></a>
  <% } %>

</span><br>
<a href="#questions/<%=question.id%>" class="question-title">
<%=question.escape('title')%></a>
<% if (question.escape('answer_id')) { %>
  <p class="author-name">
  <span><img class="avatar" src="<%=question.escape('answer_author_avatar')%>"></span>

  <t><%=question.escape('answer_author')%>
  <% if (question.escape('author_bio')) { %>
  <span class="answer-author-bio">, <%=question.escape('author_bio')%><span>
  <% } %>
  </p>
  <div class="answer-body"><%=question.escape('answer_body')%></div>
  <br>
  <p class="date">Written <%=question.escape('answer_date')%></p>
<% } else {  %>
  <p><%=question.escape('body')%></p>
<% } %>
  <button type="button" class="btn btn-default btn-sm answer-question" aria-label="Left Align">Answer Question</button>
  <span class="question-footer"></span>
