<p class="question-title"><%=question.escape('title')%></p>
<p class="question-body"><%=question.escape('body')%></p>
<p class="author-name"><%=question.escape('question_author')%></p>
<span class="question-footer"></span>
<% if (Fora.CURRENT_USER_ID == question.escape('author_id')) { %>
  <a class="text-muted delete" href="javascript:;">Delete</a>
  <a class="text-muted edit" href="javascript:;">Edit</a>
<% } %>
<div class="answer-form"></div>
<div class="answers-index"></div>
<div class="row question-show-footer">
  <p>More Questions from Your Feed</p>
  <% var more_questions = question.toJSON()["more_questions"] %>
  <% if (more_questions) { %>
    <% for (i = 0; i < 3; i++) { %>
    <a href="#questions/<%=more_questions[i].id%>">
      <div class="col-md-4 more-questions">
        <p class="more-questions-header">
          <% if (more_questions[i]['name']) { %>
            Answer Written
          <% } else { %>
            Question Asked
          <% } %>
            • <%=more_questions[i]["date"]%>
        </p>
        <p class="more-questions-title"><%= more_questions[i]["title"]%></p>
        <% if (more_questions[i]['name']) { %>
          <p class="more-questions-body">
          <span><img class="avatar" src="<%=more_questions[i]['img_src']%>">
          <t><%=more_questions[i]['name']%></span></p>
          <div class="answer-body"><%=more_questions[i]['body']%></div>
          <br>

        <% } else {  %>
        <p><%= more_questions[i]["body"]%></p>
        <% } %>

      </div>
    </a>
    <% } %>
  <% } %>
</div>
