<p class="question-title"><%=question.escape('title')%></p>
<p class="question-body"><%=question.escape('body')%></p>
<p class="question-author-name">Asked by <%=question.escape('question_author')%></p>
<span class="question-footer"></span>
<span class="write-answer"><button type="button" class="btn btn-default btn-sm">Write Answer</button></span>
<% if (Fora.CURRENT_USER_ID == question.escape('author_id')) { %>
  <span class="question-dropdown dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="text-muted delete" href="javascript:;">Delete</a></li>
      <li><a class="text-muted edit" href="javascript:;">Edit</a></li>
    </ul>
  </span>
<% } %>
<div class="answer-form"></div>
<div class="answers-index"></div>
<div class="row question-show-footer">
  <p id="more-questions-title">More Questions from Your Feed</p>
  <% var more_questions = question.toJSON()["more_questions"] %>
  <% if (more_questions) { %>
    <% for (i = 0; i < 3; i++) { %>
    <a href="#questions/<%=more_questions[i].id%>">
      <div class="col-md-4 more-questions">
        <p class="more-questions-header">
          <% if (more_questions[i]['name']) { %>
            Answer Written
          <% } else { %>
            Question Asked
          <% } %>
            • <%=more_questions[i]["date"]%>
        </p>
        <p class="more-questions-title"><%= more_questions[i]["title"]%></p>
        <% if (more_questions[i]['name']) { %>
          <p class="more-questions-body">
          <span><img class="avatar" src="<%=more_questions[i]['img_src']%>">
          <t><%=more_questions[i]['name']%></span></p>
          <div class="answer-body"><%=more_questions[i]['body']%></div>
          <br>

        <% } else {  %>
        <p><%= more_questions[i]["body"]%></p>
        <% } %>

      </div>

    </a>
    <% } %>
  <% } %>
</div>
<span class="related-questions">
<ul>

  <% var related_questions = question.toJSON()["related_questions"] %>
    <% if (related_questions && related_questions.length > 0) { %>
      <h3 id="related-questions-title">Related Questions</h3>
      <% for (i = 0; i < related_questions.length; i++) { %>
        <li class="related-question"><a href="#questions/<%=related_questions[i]['id']%>"><%=related_questions[i]['tag_title']%>: <%=related_questions[i]['title']%></li>
      <% } %>
    <% } %>
</ul>
</span>
<script>
$( ".write-answer" ).click(function() {
  $('.answer-form').show();
});
</script>
